<!DOCTYPE html>
<html>

<head>
	<title>Sudoku Puzzle</title>
	<link rel="stylesheet" href="./stylesheet.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="./game.js"></script>
</head>

<body>
	<div id="app">
		<h1>Sudoku</h1>
		<div class="buttons">
			<button @click="newGame">New Game</button>
			<button @click="checkAnswer">Check Answer</button>
			<button @click="revealAnswer">Reveal Answer</button>
			<button @click="clearGrid">Clear Grid</button>
			<button @click="saveGame">Save Game</button>
		</div>
		<div class="grid">
			<div class="row" v-for="(row, row_index) in grid" :key="row_index">
				<template v-for="(cell, col_index) in row" :key="col_index">
					<div class="cell" :class="{ 'clue': clues[row_index][col_index] != 0}"
						@click="incrementCell(row_index, col_index)" @contextmenu.prevent="decrementCell(row_index, col_index)">
						<span v-if="clues[row_index][col_index] != 0" :key="clues[row_index][col_index]">
							{{clues[row_index][col_index]}}
						</span>
						<span v-else-if="cell != 0" :key="cell">
							{{grid[row_index][col_index]}}
						</span>
						<span v-else :key="cell">
						</span>
					</div>
				</template>
			</div>
		</div>
		<h2>Left click a square to increment its number.<br />Right click/hold to decrement.</h2>
	</div>
	<script>
		const {createApp} = Vue;
		const app = Vue.createApp(
			vue_app
		).mount('#app');
	</script>
</body>

</html>