body {
	background-image: url("ll_ori.jpg");
	font-family: sans-serif;
}

table{
	border-collapse: collapse;
}

.container {
	margin:auto;
	background-color: gainsboro;
    min-height: 100vh;
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
}



.arxiv_item {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 4px solid black;
}

.arxiv_link {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 4px solid black;
}

.title {
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 200%;
}


.author {
	padding-bottom: 20px;
	font-size:150%;
}

.comms {
	padding-bottom: 20px;
	font-size: 110%;
}

.subjs {
	padding-bottom: 20px;
	font-size: 110%;
	font-style: italic;
}

.links {
	padding-bottom: 20px;
	font-size:300%;
}

a {
	text-decoration: none;
	color: steelblue;
}

a:visited {
	color: steelblue;
}